.header-container {
  height: 80px;
  position: sticky;
  top: 0;
  padding: 20px 40px;
  display: flex;
  background-color: white;
  z-index: 99;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header-nav {
  display: flex;
  align-items: center;
  flex: 1;
}
.header-nav-list {
  display: flex;
  padding: 0 !important;
  flex: 1;
  height: 100%;
}

.header-nav-list li {
  width: auto;
  padding: 0 20px;
  height: 100%;
}
.header-nav-list li:first-child {
  padding-left: 40px;
}

.header-nav-list li a:link,
.header-nav-list li a:visited {
  text-decoration: none;
  color: rgb(97, 96, 96);
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
}

.header-nav-list li a:hover,
.header-nav-list li a:active {
  text-decoration: underline;
  color: rgb(19, 19, 19);
}

.header-action-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-search-field .MuiInputBase-root,
.header-search-field .MuiInputBase-root:focus {
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.1);
}

.header-search-field .MuiOutlinedInput-notchedOutline,
.header-search-field .MuiOutlinedInput-notchedOutline:focus {
  border: 1px solid black !important;
}
