.section-wrapper {
  display: flex;
  flex-direction: column;
}

.section-wrapper:not(:last-child) {
  margin-bottom: 60px;
}
.section-title-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.section-title.MuiTypography-root {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 8px;
  text-transform: capitalize;
}
.section-description.MuiTypography-root {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
  color: gray;
}
